html {
  box-sizing: border-box;
  background-color: black;
  background-image: url('../assets/images/backgrounds/chaosof2012.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  width: 100%;
}
body > div {
  text-align: center;
}

.tile {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}

@-webkit-keyframes underBlink {
  0%   { border: 2px solid rgba(255, 255, 0, .3); }
  100% { border: 2px solid rgba(255, 255, 0, 1); }
}

.player {
  background: white url("../assets/images/sprite/small_ships.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  -webkit-animation: underBlink 1s infinite;
  -moz-animation:    underBlink 1s infinite;
  -o-animation:      underBlink 1s infinite;
  animation:         underBlink 1s infinite;
}

.empty {
  background: white url("../assets/images/sprite/computer2.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.border {
  // background: rgba(255, 255, 255, 0.4);
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.enemy {
  background: url("../assets/images/sprite/Jse_eye_bg.gif"), white url("../assets/images/sprite/computer2.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.small-enemy {
  background: url("../assets/images/alien/eyebot.png"), white url("../assets/images/sprite/computer2.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.safe {
  background-color: green;
}

.trail {
  background-color: black;
}

main {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;


  h1 {
    text-align: center;
    font-size: 30px;
  }

  #myBoard-div {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background: white url("../assets/images/sprite/computer.png");
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;

  }
}
#points-div {
  color: white;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
  margin-left: 50px;
}
