html {
  background-color: #D5D0DC;
}

main {
  width: 80%;
  margin: 0 auto;


  h1 {
    text-align: center;
    font-size: 30px;
  }

  #myBoard-div {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      li {
        border-top: solid 1px black;
        border-left: solid 1px black;
        width: 100%;
        height: 100%;
        }

      li:last-child {
        border-right: solid 1px black;

        }

      li[color="black"] {
        background-color: black;
      }

      li[color="yellow"] {
        background-color: yellow;
      }

      li[alien="alien"] {
        background-color: red;
      }
    }

      ul:last-child {
        li {
          border-bottom: solid 1px black;
        }
      }
      .color-black {
        background-color: black;
      }

  }


}
