nav {
  background-color: black;
  color: white;
  margin-bottom: 50px;

  ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;

    .logo{
      font-size: 36px;
    }

    li {
      a {
        padding-left: 10px;

        i{
          font-size: 25px;
        }
      }

      a:hover {
        color: #DDDDDD;
      }
    }
  }
}

.rules, .winOrLose, .win {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(221,221,221,0.4);
	z-index: 3;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;

  div {
  	width: 500px;
  	position: relative;
  	margin: 10% auto;
  	padding: 5px 20px 13px 20px;
  	border-radius: 10px;
  	background: white;
    border: 1px solid $dark-gray;

    .close {
    	background: $blue;
    	color: #FFFFFF;
    	line-height: 25px;
    	position: absolute;
      right: 15px;
    	text-align: center;
    	width: 24px;
    	border-radius: 12px;
    	box-shadow: 1px 1px 3px $gray;
    }

    .close:hover {
      background: $light-blue;
      color: white;
    }

    h2 {
      text-align: center;
      font-size: 30px;
      color: $blue;
    }
    #winOrLose-p {
      text-align: center;;

      button {
        border: 1px solid $gray;
        border-radius: 5px;
        padding: 7px 7px 5px 5px;
        background-color: $light-blue;

      }
      button:hover {
      background-color: $gray;
      }
    }
    p {
      font-size: 18px;
      img {
        width: 200px;
        margin: 0 auto;
      }

    }
  }
}

.rules:target, .winOrLose:target,
.win:target {
	opacity:1;
	pointer-events: auto;
}

#sound {
  margin: 0 auto;
  display: block;
  padding-top: 200px
}
