html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style-type: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body > div {
  text-align: center; }

.tile {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top; }

@-webkit-keyframes underBlink {
  0% {
    border: 2px solid rgba(255, 255, 0, 0.3); }
  100% {
    border: 2px solid yellow; } }
.player {
  background-image: url("../assets/images/sprite/small_ships.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  -webkit-animation: underBlink 1s infinite;
  -moz-animation: underBlink 1s infinite;
  -o-animation: underBlink 1s infinite;
  animation: underBlink 1s infinite; }

.empty {
  background-image: url("../assets/images/sprite/vol.jpg");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.border {
  background-image: url("../assets/images/sprite/computer.png");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.enemy {
  background: url("../assets/images/sprite/Jse_eye_bg.gif"), url("../assets/images/sprite/vol.jpg");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.safe {
  background-color: green; }

.trail {
  background-color: black; }

html {
  background-color: #D5D0DC;
  background-image: url("../assets/images/backgrounds/chaosof2012.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: 'Do Hyeon', sans-serif; }

main {
  width: 80%;
  margin: 0 auto; }
  main h1 {
    text-align: center;
    font-size: 30px; }
  main #myBoard-div {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../assets/images/sprite/computer.png");
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    main #myBoard-div ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%; }
      main #myBoard-div ul li {
        width: 100%;
        height: 100%; }
      main #myBoard-div ul li:last-child {
        border-right: solid 1px #454B66; }
      main #myBoard-div ul li[color="black"] {
        background-color: #454B66; }
      main #myBoard-div ul li[color="yellow"] {
        background-color: orange;
        position: relative; }
        main #myBoard-div ul li[color="yellow"] img {
          position: absolute;
          top: -10px;
          left: -12px;
          width: 32px;
          height: 32px; }
      main #myBoard-div ul li[alien="alien"] {
        background-color: red;
        position: relative; }
        main #myBoard-div ul li[alien="alien"] img {
          position: absolute;
          top: -10px;
          left: -12px;
          width: 32px;
          height: 32px; }
    main #myBoard-div ul:last-child li {
      border-bottom: solid 1px #454B66; }
    main #myBoard-div .color-black {
      background-color: #454B66; }

#points-div {
  color: white;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  margin-left: 250px; }

nav {
  background-color: black;
  color: white;
  margin-bottom: 50px; }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center; }
    nav ul .logo {
      font-size: 36px; }
    nav ul li a {
      padding-left: 10px; }
      nav ul li a i {
        font-size: 25px; }
    nav ul li a:hover {
      color: #DDDDDD; }

.rules, .winOrLose, .win {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(221, 221, 221, 0.4);
  z-index: 3;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .rules div, .winOrLose div, .win div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: white;
    border: 1px solid #9F9AA4; }
    .rules div .close, .winOrLose div .close, .win div .close {
      background: #4381C1;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: 15px;
      text-align: center;
      width: 24px;
      border-radius: 12px;
      box-shadow: 1px 1px 3px #C9CACB; }
    .rules div .close:hover, .winOrLose div .close:hover, .win div .close:hover {
      background: #B3C5D7;
      color: white; }
    .rules div h2, .winOrLose div h2, .win div h2 {
      text-align: center;
      font-size: 30px;
      color: #4381C1; }
    .rules div #winOrLose-p, .winOrLose div #winOrLose-p, .win div #winOrLose-p {
      text-align: center; }
      .rules div #winOrLose-p button, .winOrLose div #winOrLose-p button, .win div #winOrLose-p button {
        border: 1px solid #C9CACB;
        border-radius: 5px;
        padding: 7px 7px 5px 5px;
        background-color: #B3C5D7; }
      .rules div #winOrLose-p button:hover, .winOrLose div #winOrLose-p button:hover, .win div #winOrLose-p button:hover {
        background-color: #C9CACB; }
    .rules div p, .winOrLose div p, .win div p {
      font-size: 18px; }
      .rules div p img, .winOrLose div p img, .win div p img {
        width: 200px;
        margin: 0 auto; }

.rules:target, .winOrLose:target,
.win:target {
  opacity: 1;
  pointer-events: auto; }

#sound {
  margin: 0 auto;
  display: block;
  padding-top: 100px; }

/*# sourceMappingURL=game.css.map */
